@import 'tailwindcss';
@config '../tailwind.config.js';

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent-1: #118b50;
  --color-accent-2: #5db996;

  --color-primary-1: #fff;
  --color-primary-2: #000;

  --color-secondary-1: #e3f0af;
  --color-secondary-2: #fbf6e9;
}

.dark {
  --color-accent-1: #ff6500;
  --color-accent-2: #1e3e62;

  --color-primary-1: #111;
  --color-primary-2: #fff;

  --color-secondary-1: #0b192c;
  --color-secondary-2: #000;
}

body {
  font-family: 'Inter', sans-serif;
}

input {
  @apply text-primary-2;
}
